.jumbotron {
  background-color: #222733;
  flex:initial;
}

.navbar {
  background-color: transparent;
}

.container {
  width: 500px;
}


body {
  font: normal 180% "Titillium Web", sans-serif;
  background-color: #222733;
  align-items: center;
  color: #DBE8D4;
}
