


.jumbotron {
  background-color: #222733;
  flex:initial;
}

.navbar {
  background-color: #222733;
}

.container {
  width: 500px;
}


body {
  font: normal 180% "Titillium Web", sans-serif;
  background-color: #222733;
  align-items: center;
  color: #DBE8D4;
}

.navbar-header {
  
  left: 40%;
}

.nav.navbar-nav{
  
  left: 45%;
}

